.cardDiv {
    display: flex;
    justify-content: center;
}
.titre {
    text-align: left;
    padding-left: 300px;
}
.features {
    text-align: left;
    padding-left: 300px;
}
.text{
    text-align: left;
    padding-left: 300px;
}